<!-- -->
<%- include("header") -%> 
	<div class="box" id="heading">
		<h1><%=listTitle%></h1>
	</div>

	<div class="box">

		<form action="delete">
			<% newTask.forEach(function(item){%>
				<div class="item">
					<input type="checkbox"name="deleteTask" onchange="this.form.submit()">
					<p><%=item.name %></p>
				</div>	
			<%})%>
	
		</form>

			<form class="item" action="/" method="POST">
				<input type="text" name="newTask" placeholder="New item" autocomplete="off" />
				<button type="submit" name="list" value=<%=listTitle%> >+</button>
			</form>	
	</div>

	<%- include("footer") -%> 

	