<!-- -->
<%- include("header") -%> 
	<div class="box" id="heading">
		<h1><%=listTitle%></h1>
	</div>

	<div class="box">
		<!--This form is responsible of deleting items -->
		<% newTask.forEach(function(item){%>
			<form action="delete" method="POST">
				<div class="item">
					<!--When the checkbox is checked de item will be deleted with the onchange method --> 
					<input type="checkbox"name="checkbox" value="<%=item.id%>" onChange="this.form.submit()">
					<p><%=item.name %></p>
				</div>	
			</form>
		<%})%>
	
			
		<!--This form is responsible of adding new items -->
		<form class="item" action="/" method="POST">
			<input type="text" name="newTask" placeholder="New item" autocomplete="off" />
			<button type="submit" name="list" value=<%=listTitle%> >+</button>
		</form>	
	</div>

	<%- include("footer") -%> 

	